* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(135deg, #816581, #9c8667); */
    background-image: linear-gradient(135deg, #006666, #00cccc);
    background-image: url('image/bg-image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    /* margin: 0;
    padding: 0; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('image/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.calculator {
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff, 
                        5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff, 
                inset 5px 5px 12px rgba(0, 0, 0, .16);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 60%;
    margin: 8px;
    font-size: 16px;
}

.equal {
    width: 115px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0, 0, 0, .16);
}

footer {
    /* background-color: #333; */
    color: #0a0a0a;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }